.badge-controls {
    display: none;
    background: white;
    height: 2em;
    text-align: center;
}

#badgerGenProjectSummary {
    width: 100%;
}

.centered {
    text-align: center;
}

#badgerGenerator {
    width: 340px;
}

#badger-generator-container {
  width: 100%;
}

#badger-generator-container .badger-badge {
  background-color: rgba( 150, 150, 150, 0.3 );
  border-radius: 5px;
  overflow: auto;
  padding: 4px;
  margin-bottom: 8px;
}

#badger-generator-container .badger-name {
  display: inline-block;
  font-weight: bolder;
  margin-left: 8px;
  margin-right: 2px;
}

#badger-generator-container .badger-credits {
  float: right;
}

#badger-generator-container .badger-home {
  margin-left: 4px;
  margin-right: 8px;
}

#badger-generator-container .badger-license {
  margin-right: 8px;
}
