.badger-container {
  width: 100%;
}

.badger-container .badger-badge {
  background-color: rgba( 150, 150, 150, 0.3 );
  border-radius: 5px;
  overflow: auto;
  margin-bottom: 8px;
  line-height: 1.8rem;
}

.badger-container .badger-name {
  display: inline-block;
  float: left;
  font-weight: bold;
  padding-left: 8px;
}

.badger-container .badger-credits {
  float: right;
}

.badger-container .badger-home, .badger-container .badger-license {
  margin-right: 8px;
}

.badger-container .badger-home i.fa, .badger-container .badger-license i.fa {
  cursor: pointer;
}
